[project]
	description = The dataset of our FSE2015 submission.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yuyue
[access "refs/for/refs/*"]
	read = group user/Yuyue
	push = group user/Yuyue
	label-Code-Review = -2..+2 group user/Yuyue
	label-Verified = -1..+1 group user/Yuyue
	rebase = group user/Yuyue
	removeReviewer = group user/Yuyue
	submit = group user/Yuyue
[access "refs/heads/*"]
	read = group user/Yuyue
	create = group user/Yuyue
	push = +force group user/Yuyue
	pushMerge = group user/Yuyue
[access "refs/tags/*"]
	push = +force group user/Yuyue
	pushTag = group user/Yuyue
	pushSignedTag = group user/Yuyue
